/target/
/.project

/test-output/
*/test-output/
*.classpath
*.iml
/.idea/
/.settings/
*.class
*.log
*.tern-project
*/log/*
/log/
*.project
*/src/generated-sources/*
src/generated-sources
*/.settings/
*/target/
*/.project
*/.classpath
*/bin/
*.sh
LuceneIndexes
.factorypath
.springBeans
.scannerwork